# ========================
# ROOT FILES
# ========================
.env
.env.local
.env*.local
.DS_Store
Thumbs.db

# ========================
# IDEs & EDITORS
# ========================
# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/
*.code-workspace

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# ========================
# BACKEND (Spring Boot / Maven)
# ========================
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar

# ========================
# MOBILE (React Native / Expo)
# ========================
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
/ios
/android

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# Expo specific
app-example

# ========================
# DOCKER
# ========================
docker-compose.override.yml